@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: "Lato", sans-serif; */
.lato-thin{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* shered styling */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.border{
    border: 1px solid  black;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.similer-headline{
    font-size: 30px;
    font-weight: 1000;
    color: rgb(39, 39, 39,0.9);
    margin-top: 100px;
    text-align: center;
}
.similer-description{
    color: rgba(39, 39, 39, 0.5);
    font-size: 1rem;
    text-align: center;
}
.similer-button{
    border: 0;
    border-radius: 7px;
    background: rgb(229, 84, 115);
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 33px;
    margin-top: 20px;
    color: white;
}
.text-center{
    text-align: center;
}
.content-center{
    margin: 0 auto;
}
.description-style{
    width: 45%;
    margin: 30px auto;
}
.bg-primary{
    background: rgba(229, 84, 115, 0.1);
}
.color-font{
    color: rgba(229, 84, 115, 115);
}

/* styling body */
body{
    font-family: "Lato", sans-serif;
}


/* styling header section */
.header-box{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}
.header-left{
    width: 50%;
    padding: 10% 0%;
}
.header-headline{
    font-size: 4rem;
    font-weight: 900;
    color: rgb(39, 39, 39);
}
.header-description{
    margin-top: 25px;
    width: 95%;
    text-align: left;
}
.header-right{
    width: 45%;
}
.header-pic{
    width: 100%;
    height: 660px;
}

/* styling the flower box section */
.flower-box-area{
    display: flex;
    justify-content: space-between;
}
.flower-box{
    width: 32%;
}
/* flower1 */
.flower1{
    height: 450px;
    width: 100%;
    padding-top: 103px;
    padding-left: 45px;
    border-radius: 200px 200px 0 0;
    margin-bottom: 30px;
}
.flower1-img{
    width: 250px;
}

/* flower2 */
.flower2{
    height: 450px;
    width: 100%;
    padding-top: 130px;
    padding-left: 45px;
    border-radius: 200px 200px 0 0;
    background-color:rgba(5, 151, 160, 0.15) ;
    margin-bottom: 30px;
}
.flower2-img{
    width: 280px;
}

/* flower2 */
.flower3{
    height: 450px;
    width: 100%;
    padding-top: 73px;
    padding-left: 45px;
    border-radius: 200px 200px 0 0;
    background-color:rgba(71, 125, 17, 0.15) ;
    margin-bottom: 30px;
}
.flower3-img{
    width: 250px;
}

.flower-link{
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin-left: 120px;
}

/* styling card */
.card{
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-evenly;
    padding: 80px 50px;
    margin: 100px auto;
    border-radius: 7px;
}
.card-icon{
    margin: 0 90px;
    width: 70px;
    border: 2px dashed rgb(159, 157, 157,0.4);
}
.card-description{
    font-size: 18px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.5);
    text-align: center;
    margin-top: 15px;
}

/* styling the hot deal section */
.hot-deal-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 120px;
}
.hot-deal-left{
    width: 60%;
}
.hot-deal-btton{
    margin: 0 205px;
}
.space{
    margin:20px 0 ;
}
.hot-deal-right{
    width: 30%;
}
.hot-deal-img{
    width: 100%;
}

/* styling instragram section */
.instagram-description{
    width: 45%;
    margin: 20px auto;
}
.flower-gallary{
    display: flex;
    justify-content: space-evenly;
}
.flower-gallary img{
    width: 23.5%;
    border: 2px dashed rgb(159, 157, 157,0.4);
}

/* styling for contact */
.contact-form{
    background-image: url("../Flower Asset/Rectangle 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 150px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px dashed rgb(159, 157, 157,0.4);
    margin-bottom: 100px;
}
.contact-box>h1{
    margin-top: 20px;
}
.contact-box>p{
    margin: 20px 0;
    font-weight: 700;
}
#input-text{
    width: 600px;
    padding: 18px 18px;
    font-size: 15px;
    color: rgb(31, 30, 30, 0.3);
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}


/* styling for footer section */

.footer{
    color: white;
    background-color:  rgb(17, 16, 16);
    padding: 100px 0;
}
.footer-headline{
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    font-size: 2.5rem
}
.footer-description{
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    margin: 25px 0;
}
.footer-captipon{
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    color: rgb(255, 255, 255,0.4);
}
.text-pink{
    color: rgb(229, 84, 115);
}
.footer-content{
    width: 35%;
    margin: 0 auto;
}