@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: "Lato", sans-serif; */
.lato-thin{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* shered styling */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.similer-headline{
    font-size: 30px;
    font-weight: 1000;
    color: rgb(39, 39, 39);
    margin-top: 100px;
}
.similer-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 1rem;
}
.similer-button{
    border: 0;
    border-radius: 7px;
    background: rgb(229, 84, 115);
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 33px;
    margin-top: 20px;
    color: white;
}
.text-center{
    text-align: center;
}
.content-center{
    margin: 0 auto;
}
.description-style{
    width: 45%;
    margin: 30px auto;
}

/* styling body */
body{
    font-family: "Lato", sans-serif;
}


/* styling header section */
.header{
    background: rgba(229, 84, 115, 0.1);
}
.header-box{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}
.header-left{
    width: 50%;
    padding: 10% 0%;
}
.header-headline{
    font-size: 4rem;
    font-weight: 900;
    color: rgb(39, 39, 39);
}
.header-description{
    margin-top: 25px;
    width: 95%;
}
.header-right{
    width: 45%;
}
.header-pic{
    width: 100%;
    height: 660px;
}

/* styling the flower box section */
.flower-box-area{
    display: flex;
    justify-content: space-between;
}
.flower-box{
    width: 32%;
}
/* flower1 */
.flower1{
    height: 450px;
    width: 100%;
    padding-top: 103px;
    padding-left: 45px;
    border-radius: 200px 200px 0 0;
    background-color:rgba(167, 33, 98, 0.15) ;
    margin-bottom: 30px;
}
.flower1-img{
    width: 250px;
}

/* flower2 */
.flower2{
    height: 450px;
    width: 100%;
    padding-top: 130px;
    padding-left: 45px;
    border-radius: 200px 200px 0 0;
    background-color:rgba(5, 151, 160, 0.15) ;
    margin-bottom: 30px;
}
.flower2-img{
    width: 280px;
}

/* flower2 */
.flower3{
    height: 450px;
    width: 100%;
    padding-top: 73px;
    padding-left: 45px;
    border-radius: 200px 200px 0 0;
    background-color:rgba(71, 125, 17, 0.15) ;
    margin-bottom: 30px;
}
.flower3-img{
    width: 250px;
}

.flower-link{
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin-left: 120px;
}